<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Administration</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">Accueil</a></li>
            <li><a href="">À propos</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="{{ url_for('dab') }}">Carte</a></li>
            {% if session['role'] == 'Décideur' %}
                <li><a href="{{ url_for('ajouter') }}">Ajouter</a></li>
            {% endif %}
            {% if session['role'] == 'Admin' %}
                <li><a href="{{ url_for('ajouter') }}">Ajouter</a></li>
                <li><a href="{{ url_for('admin') }}">Admin</a></li>
            {% endif %}
        </ul>
        <ul>
            <li class="logout"><a href="{{ url_for('logout') }}">Déconnexion</a></li>
        </ul>
    </nav>
</body>
</html>