<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
  <h1>Register</h1>
  {% if error %}
  <p style="color:red;">{{ error }}</p>
  {% endif %}
  <form method="post" action="/register">
      <label for="email">email:</label>
      <input type="email" id="email" name="email" required><br><br>
      <label for="password">Mot de passe:</label>
      <input type="password" id="password" name="password" required><br><br>
      <label for="nom">Nom:</label>
      <input type="text" id="nom" name="nom" required><br><br>
      <label for="prenom">Prénom:</label>
      <input type="text" id="prenom" name="prenom" required><br><br>
      <label for="role">Rôle</label>
      <select id="role" name="role">
          <option value="Monétique">Monétique</option>
          <option value="Décideur">Décideur</option>
          <option value="option3">Option 3</option>
      </select>
      <input type="submit" value="Register">
      <p>Déja inscrit ?Connectez vous <a href="{{ url_for('login') }}">ici</a></p>
  </form>
</body>
</html>
